---
// src/pages/index.astro
import "../../styles/startup-page.css";
import { pb } from "../../lib/pocketbase";
import EventHightlightComponent from "../events/EventHighlightComponent";
import type { EventItem } from "../events/types";

const now = new Date().toISOString();
const locale = Astro.currentLocale == "de" ? "de" : "en";

const translations = {
  de: {
    button_text: "Alle Ansehen",
    header: "Nächste Events",
  },
  en: {
    button_text: "See More",
    header: "Next Events",
  },
};

const eventFilter = [
  'date != ""',
  `date >= "${now}"`,
  '(location != "" || eventUrl != "")',
].join(" && ");

const events = await pb.collection<EventItem>("events").getList(1, 3, {
  filter: eventFilter,
});
---

<div class="spread">
  <h1>{translations[locale].header}</h1>
  <a class="button button--small" href={`/${locale}/events`}> {translations[locale].button_text}</a>
</div>

<EventHightlightComponent events={events.items} locale={locale} />
