---
import { twMerge } from "tailwind-merge";
import type { BlockProps } from "../types/types";
import { sectionVariants } from "../../utils/style-mapping";

type Props = BlockProps<"embed">;

const { url, width, height, style } = Astro.props;

const sectionClasses = sectionVariants({ 
  alignment: style?.alignment, 
  size: style?.size 
});

// twMerge ensures the structural iframe classes aren't accidentally removed 
// if style.className contains conflicting border or width rules.
const iframeClasses = twMerge(
  "max-w-full border-0", 
  style?.className
);
---

<section class={sectionClasses}>
  <iframe
    src={url}
    loading="lazy"
    width={width}
    height={height}
    class={iframeClasses}
    title="Embedded Content"
  >
  </iframe>
</section>