---
import rawConfig from "../../content/site_config.json";
import { SiteSettingsConfigSchema } from "../../content.config.ts";

import { Icon } from "astro-icon/components";
import type { BlockProps } from "../types/types";
type Props = BlockProps<"social-medias">;

// This guarantees the data matches your expectations before the page renders
const config = SiteSettingsConfigSchema.parse(rawConfig);

const { socialMedias } = config;
const { style } = Astro.props;
---

<section class=`${style.alignment} ${style.size} ${style.className??""}`>
  <div class="full center-text">
    {
      socialMedias?.map((item) => (
        <a
          href={item.link}
          target="_blank"
          rel="noopener noreferrer"
          aria-label={item.name}
        >
          <h2 class="title text-glow" aria-label={`${item.name} Icon`}>
            <Icon name={`lucide:${item.icon}`} class="w-6 h-6" />{" "}
          </h2>
          <h3>{item.name}</h3>
        </a>
      ))
    }
  </div>
</section>
