---
// Site footer. Renders on bottom of site.
import { Image } from "astro:assets";
import logoGradient from "../assets/rocket_gradient.svg";
import startupKarlsruheType from "../assets/Startup_Karlsruhe.svg";
import startupKarlsruheMobileType from "../assets/Startup_Karlsruhe_mobile.svg";
import { localized } from "../utils/utils";
import rawConfig from "../content/site_config.json";
import { SiteSettingsConfigSchema } from "../content.config.ts";

const locale = Astro.currentLocale === "de" ? "de" : "en";

const config = SiteSettingsConfigSchema.parse(rawConfig);
const { socialMedias } = config;

const translations = {
  de: {
    imprint: "Impressum",
    privacy: "Datenschutz",
    contact: "Kontakt",
    copyright: "(c) 2026 PionierGarage e.V.",
  },
  en: {
    imprint: "Imprint",
    privacy: "Privacy",
    contact: "Contact",
    copyright: "(c) 2026 PionierGarage e.V.",
  },
} as const;

const labels = translations[locale];
---

<footer class="w-full flex flex-row gap-4">
  <div class="flex flex-row items-center w-full justify-between">
    <h1>PionierGarage e.V.</h1>

    <div class="flex flex-row gap-5">
      {
        socialMedias.map((social) => (
          <a class="" href={social.link}>
            {social.name}
          </a>
        ))
      }
    </div>
  </div>

  <div class="w-full bg-secondary h-[1px]"></div>

  <div class="footer-content">
    <a href="https://www.pioniergarage.de/">{labels.copyright}</a>

    <div class="footer-content-link-group">
      <a href={localized("imprint", Astro.currentLocale)}>{labels.imprint}</a>

      <a href={localized("privacy", Astro.currentLocale)}>{labels.privacy}</a>

      <a href={localized("contact", Astro.currentLocale)}>{labels.contact}</a>
    </div>
  </div>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .rocket-logo-gradient {
    width: 65px;
    height: 65px;
    object-fit: contain;
  }

  .startup-karlsruhe-type {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .startup-karlsruhe-type--mobile {
    display: none;
  }

  .footer-content {
    color: var(--color-secondary);
    font-size: var(--caption-font-size);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .footer-content-link-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .footer-content a {
    transition: var(--transition);
  }
  .footer-content a:hover {
    cursor: pointer;
    color: var(--text);
  }

  @media (max-width: 576px) {
    .startup-karlsruhe-type--mobile {
      display: block;
    }
    .startup-karlsruhe-type--desktop {
      display: none;
    }

    .footer-content {
      flex-direction: column-reverse;
      align-items: center;
      gap: 10px;
    }
  }
</style>
