---
// Site footer. Renders on bottom of site.
import { Image } from "astro:assets";
import logo from "../assets/pg_logo.png";
import { localized } from "../utils/utils";
import rawConfig from "../content/site_config.json";
import { SiteSettingsConfigSchema } from "../content.config.ts";
import { Icon } from "astro-icon/components";

const locale = Astro.currentLocale === "de" ? "de" : "en";

const config = SiteSettingsConfigSchema.parse(rawConfig);
const { socialMedias } = config;

const translations = {
  de: {
    imprint: "Impressum",
    privacy: "Datenschutz",
    contact: "Kontakt",
    copyright: "(c) 2026 PionierGarage e.V.",
    find_us: "Entdeckt uns auf",
    brought_to_you: "Hergestellt in Karlsruhe von",
  },
  en: {
    imprint: "Imprint",
    privacy: "Privacy",
    contact: "Contact",
    copyright: "(c) 2026 PionierGarage e.V.",
    find_us: "Check us out!",
    brought_to_you: "Made in Karlsruhe by",
  },
} as const;

const labels = translations[locale];
---

<footer class="w-full flex flex-row gap-4 px-5">
  <div
    class="flex flex-col gap-4 md:flex-row items-center w-full justify-between"
  >
    <Image class="pg-logo" src={logo} alt="pioniergarage_logo" />

    <div class="flex flex-row gap-5">
      <h3>{labels.find_us}</h3>
      {
        socialMedias.map((social) => (
          <a href={social.link} class="text-center">
            <Icon
              name={`lucide:${social.icon}`}
              class="w-6 h-6 inline-block justify-center"
            />
            {social.name}
          </a>
        ))
      }
    </div>
  </div>

  <div class="w-full bg-secondary h-px"></div>

  <div class="footer-content">
    <a href="https://www.pioniergarage.de/">{labels.copyright}</a>

    <div class="flex flex-row flex-wrap justify-center align-center text-center">
      <h3>{labels.brought_to_you}</h3>
      <div class="flex flex-row gap-4 px-4">
         <a
          href={"https://github.com/josuaroeck"}
          class="justify-center align-center text-center"
          ><Icon
            name={`lucide:github`}
            class="w-6 h-6 inline-block justify-center"
          /> Josua</a
        >
        <a
          href={"https://github.com/hudmarc"}
          class="justify-center align-center text-center"
          ><Icon
            name={`lucide:github`}
            class="w-6 h-6 inline-block justify-center"
          /> Marc</a
        >
        <a
          href={"https://github.com/pioniergarage"}
          class="justify-center align-center text-center"
          ><Icon
            name={`lucide:github`}
            class="w-6 h-6 inline-block justify-center"
          /> PionierGarage IT Team</a
        >
      </div>
    </div>

    <div class="footer-content-link-group">
      <a href={localized("imprint", Astro.currentLocale)}>{labels.imprint}</a>

      <a href={localized("privacy", Astro.currentLocale)}>{labels.privacy}</a>

      <a href={localized("contact", Astro.currentLocale)}>{labels.contact}</a>
    </div>
  </div>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }

  .pg-logo {
    max-width: 160px;
    max-height: 30px;
    object-fit: contain;
  }

  .startup-karlsruhe-type {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .startup-karlsruhe-type--mobile {
    display: none;
  }

  .footer-content {
    color: var(--color-secondary);
    font-size: var(--caption-font-size);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .footer-content-link-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .footer-content a {
    transition: var(--transition);
  }
  .footer-content a:hover {
    cursor: pointer;
    color: var(--text);
  }

  @media (max-width: 800px) {
    .startup-karlsruhe-type--mobile {
      display: block;
    }
    .startup-karlsruhe-type--desktop {
      display: none;
    }

    .footer-content {
      flex-direction: column-reverse;
      align-items: center;
      gap: 10px;
    }
  }
</style>
